.all__wrapper {
    min-height: calc(100vh - 80px);
    background-color: #F0EFF2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.staff-list__title {
    width: 64%;
    padding-left: 20px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 30px;
    text-align: left;
    border-left: 8px solid #000;
}

.staff-list__container {
    width: 64%;
    margin: 0 auto;
    margin-bottom: 100px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
    table-layout: fixed;
}

.staff-list__row-label {
    height: 48px;
    color: #737373;
    border-bottom: 3px solid #E1E1E1;
    letter-spacing: 2px;
}

.staff-list__row-item {
    height: 48px;
    color: #737373;
    border-bottom: 2px solid #E1E1E1;
    letter-spacing: 2px;
}

.staff-list__row-item:last-child {
    border-bottom: none;
}

.staff-list__item {
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.staff-list__button-detail {
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
}

.pagination {
    margin-top: 16px;
    font-size: 20px;
    display: flex;
    position: absolute;
    top: 396px;
    left: 50%;
    transform: translateX(-50%);
}

.page-link {
    min-width: 32px;
    padding: 2px 4px;
    margin: 0 18px;
    color: #000;
    border: none;
    border-radius: 50%;
    text-align: center;
    transition: 0.2s;
    text-decoration: none;
    display: inline-block;
}

.page-link__left,
.page-link__right {
    font-size: 24px;
    line-height: 1.1;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #000;
    border: none;
}