.all__wrapper {
    min-height: calc(100vh - 80px);
    background-color: #F0EFF2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.attendance-list__title {
    width: 64%;
    padding-left: 20px;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 30px;
    text-align: left;
    border-left: 8px solid #000;
}

.date-navigation__container {
    width: 64%;
    height: 60px;
    margin: 40px auto;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-navigation__current-date {
    font-size: 20px;
}

.date-navigation__button-back {
    padding: 8px;
    margin-left: 32px;
    margin-right: 5px;
    color: #737373;
    text-decoration: none;
    letter-spacing: 2px;
}

.date-navigation__button-next {
    padding: 8px;
    margin-left: 5px;
    margin-right: 32px;
    color: #737373;
    text-decoration: none;
    letter-spacing: 2px;
}

.date-navigation__image-left,
.date-navigation__image-right {
    width: 20px;
    height: 15px;
    margin-bottom: 2px;
}

.date-navigation__image-calendar {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 6px;
}

.attendance-list__container {
    width: 64%;
    margin: 0 auto;
    margin-bottom: 100px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
    table-layout: fixed;
}

.attendance-list__row-label {
    height: 48px;
    color: #737373;
    border-bottom: 3px solid #E1E1E1;
    letter-spacing: 2px;
}

.attendance-list__label:first-child {
    width: 24%;
}

.attendance-list__label:last-child {
    width: 18%;
    padding-left: 50px;
    text-align: left;
}

.attendance-list__row-item {
    height: 48px;
    color: #737373;
    border-bottom: 2px solid #E1E1E1;
    letter-spacing: 2px;
}

.attendance-list__row-item:last-child {
    border-bottom: none;
}

.attendance-list__item {
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.attendance-list__item:last-child {
    width: 18%;
    padding-left: 44px;
    text-align: left;
}

.attendance-list__button-detail {
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
}