.all__wrapper {
    min-height: calc(100vh - 80px);
    background-color: #F0EFF2;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.detail-table__title {
    width: 64%;
    padding-left: 20px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 30px;
    border-left: 8px solid #000;
}

.detail-table__container {
    width: 64%;
    width: 64%;
    margin: 0 auto;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
}

.detail-table__row {
    height: 90px;
    border-bottom: 2px solid #E1E1E1;
}

.detail-table__label {
    padding-left: 70px;
    color: #737373;
    letter-spacing: 2px;
}

.detail-table__item {
    width: 70%;
    padding-left: 70px;
    letter-spacing: 2px;
    position: relative;
    vertical-align: middle;
}

.detail-table__name {
    margin-left: 20px;
}

.detail-table__year {
    margin-left: 20px;
    margin-right: 140px;
}

.detail-table__wave {
    margin: 0 46px;
}

.detail-table__input {
    width: 100px;
    height: 30px;
    padding: 3px 0;
    margin: 30px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    letter-spacing: 2px;
}

.detail-table__textarea {
    width: 324px;
    height: 72px;
    padding: 6px;
    margin: 12px 0;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    letter-spacing: 2px;
}

.message-pending {
    width: 64%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #FF000080;
    text-align: right;
}

.button-area {
    width: 64%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: right;
}

.button-submit {
    width: 130px;
    height: 50px;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 8px;
    cursor: pointer;
}

.button-disable {
    width: 130px;
    height: 50px;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #696969;
    border: none;
    border-radius: 8px;
    cursor: default;
}

.locked,
.readonly {
    border: none;
    background-color: transparent;
    outline: none;
}

.detail-table__error-message {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 450;
    color: #f00;
    display: block;
    white-space: normal;
}

.alert-success {
    width: 100%;
    padding: 10px;
    padding-left: 80px;
    font-size: 22px;
    font-weight: 460;
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}

.alert-error {
    width: 100%;
    padding: 10px;
    padding-left: 80px;
    font-size: 22px;
    font-weight: 460;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}